
<!-- Title -->
<hgroup class="text-white text-xl text-center m-2 h-8 hidden lg:block">
	Trinity Creator 2
</hgroup>

<nav class="@navMenuClasses lg:w-64 pr-2" aria-label="Sidebar">
	<div class="flex py-4 px-3 rounded bg-background-menu text-link-primary">

        @*Left menu items*@
        <ul class="grow space-y-2">
            <LeftMenuItem IconName="check" Text="Create" Url="/"/>
            <LeftMenuItem IconName="cog" Text="Settings" Url="/"/>
            <LeftMenuItem IconName="book" Text="Advanced" Url="/"/>
        </ul>

        <!-- Expander Button-->
		<button @onclick=@ToggleNavMenu
			class="visible lg:hidden absolute bottom-2 justify-end items-center 
                p-2 pt-4 rounded-lg 
                text-link-primary 
                hover:bg-gray-100 dark:hover:bg-gray-700">
			<span class="oi @expanderButtonClasses pt-1 text-xl"></span>
            <Icon Name=@expanderButtonClasses IconSize="20" />
		</button>
    </div>
</nav>


@code {
    private bool leftMenuIsExpanded = false;

    private string? navMenuClasses => leftMenuIsExpanded ? "w-64 is-expanded" : "w-16";
    private string? expanderButtonClasses => leftMenuIsExpanded ? "arrow-circle-left" : "arrow-circle-right";

    private void ToggleNavMenu()
    {
        leftMenuIsExpanded = !leftMenuIsExpanded;
    }
}