@inherits LayoutComponentBase

<div class="flex bg-background-primary text-slate-400">
    
    <NavMenu />
    
    @*Top Menu *@
    <div class="top-row px-4">            
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    @*Content*@
    <main>
        @Body
    </main>
</div>
