@inherits LayoutComponentBase

<div class="flex bg-background-primary text-slate-400">
    @*Sidebar*@
    <aside aria-label="Sidebar" class="
        lg:w-64 h-screen sticky top-0 
        bg-background-menu border-r-2 border-slate-600 border-solid">
        <LeftMenu />
    </aside>
    
    <div class="grow">

        @*Content*@
        <main class="mt-4 ml-8 mr-8">
            @Body
        </main>
    </div>
    
</div>
